{% extends "base.html" %}

{% block title %}Название страницы{% endblock %}

{% block content %}
<body>
    <h1>Добавить новую группу</h1>
    
    <form method="POST">
        <div class="form-group">
            <label for="name">Название группы:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <button type="submit" class="submit-btn">Создать</button>
        <a href="{{ url_for('groups.list_groups') }}" class="cancel-btn">Отмена</a>
    </form>
</body>
{% endblock %}