{% extends "base.html" %}

{% block title %}Название страницы{% endblock %}

{% block content %}
<body>
    <h1>Группы параметров</h1>
    
    <a href="{{ url_for('add_group') }}" class="export-button">+ Добавить группу</a>
    
    <table class="groups-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Кол-во параметров</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.parameters|length }}</td>
                <td class="action-links">
                    <a href="#" class="edit-link">✏️</a>
                    <a href="{{ url_for('delete_group', id=group.id) }}" 
                       onclick="return confirm('Удалить группу {{ group.name }}? Параметры останутся без группы.')">❌</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br>
    <a href="{{ url_for('export_to_xccdf_file') }}" class="export-button">Экспорт в xccdf</a>
</body>
{% endblock %}